.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.grid-container {
  padding-left: 12px;
  padding-right: 12px;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-gap: 12px;
}

.recipe-card {
  border-style: solid;
  border-width: 2px;
}

main {
  display: inline-block;
  text-align: left;
}

th {
  font-size: 32px;
}

td {
  font-size: 24px;
}